.lakita{
    color:#00a651;
}
.red{
    color:red;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-45{
margin-top: 45px;
}
.font-size-26{
    font-size: 26px;
}
.font-size-30{
    font-size: 30px;
}
.font-size-40{
    font-size: 40px;
}
.margin-top-50{
    margin-top: 50px;
}
.padding-left-50{
    padding-left: 50px;
}
.width-18{
    width: 18% !important;
}
.width-164{
    width: 16.4% !important;
}
.width-16{
    width: 16% !important;
}
