/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2018, 4:12:30 PM
    Author     : phong
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #000;
}

.container-fluid {
  padding: 0px
}

.navbar {
  background: #187533;
  border: none;
  border-radius: 0px;
  min-height: 60px;
  .navbar-brand {
    padding: 0px;
    padding-left: 35px;
    .logo-navbar {
      width: 180px;
    }
  }
  .navbar-form {
    width: 28%;
    padding-right: 5px;
    .search {
      width: 100%;
      input {
        width: 100%;
        height: 41px;
      }
      span.input-group-btn {
        width: 5%;
        button {
          height: 41px;
          padding-top: 0px;
        }
      }
    }
  }
  .navbar-btn {
    height: 41px;
  }
  .notification {
    color: #fff;
  }

  .navbar-text {
    color: #fff;
    margin-right: 21px;
    a {
      color: #fff;
    }
  }
}

.my-class {
  height: 5px;
  font-size: 12px;
}

.button-right {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  line-height: 1.71429;
  border-radius: 5px;
  background: #ffffff;
  margin-left: 15px;
  width: 96px;
  padding: 2px;

}

.button-login {
  margin-right: 28px;
  background: #0f263d;
  border: 1px solid #ffffff;
  opacity: 0.9;
  &:hover {
    opacity: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  }
  a {
    color: #FFFFFF;
  }
}

.slider {
  height: 100%;
/*  padding-top: 30px;
  padding-bottom: 20px;*/
  .img-slider img {
    height: 250px;
  }
}

.owl-carousel {
  position: relative;
  padding-top: 4.4%;
  .owl-prev {
    left: 0;
  }

  .owl-next {
    right: 6px;

  }
}

.owl-prev, .owl-next {
  background: #d6d6d600;
  position: absolute;
  top: 40%;
  margin-top: -1px; // Half of the prev/next buttons height here in negatives to center them perfectly
}

.owl-theme .owl-nav [class*=owl-] {
  background: #d6d6d600;
}

.img-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 30px;
  border: 1px solid #FFFFFF;
}

.dropdown {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: #ffffff;
  float: left;
  overflow: hidden;
  background-color: inherit;
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #ffffff;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    margin-top: 3px;
    a {
      float: none;
      color: #000000;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      &:hover {
        color: #187533;
        background: #dbdbdb;
      }
    }
  }
}

.dropdown-notification {
  .notification {
    &:hover {
      color: #d2274c;
    }
    span {
      color: #fff;
      &.badge{
          background-color: red;
      }
      i{
        color: red;
      }
    }
  }

  div.content-notification {
    display: none;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;

    a {
      float: none;
      color: #000000;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      &:hover {
        background: #d9d9d9;
        color: #da3414;
      }
    }


  }

  .active-khoa-hoc {
    &:hover {
      a {
        color: #25a8ba;
      }
      + .content-notification {
        display: none;
      }
    }

  }
  &:hover {
    .content-notification {
      position: fixed;
      background-color: #ffffff;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 99999;
      display: block;
    }
  }
}

.navbar-text.navbar-right {
  margin-top: 8px;
}

@media only screen and (max-width: 767px) {
  div#bs-example-navbar-collapse-1 {
    margin-top: 4px;
  }
  /* For portrait layouts only */
  .navbar .navbar-form {
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .li-active {
    float: left;
    margin-left: 5px;
  }

  img.img-avatar.img-circle.navbar-btn {
    margin-top: -8px;
  }

  span {
    font-size: 12px;
  }

}

@media only screen and (max-width: 429px) {
  .navbar .navbar-form {
    width: 100%;
    padding-right: 5px;
    margin-right: 5px;
  }

}

@media only screen and (min-width: 430px) and (max-width: 765px) {
  .navbar .navbar-form {
    width: 100%;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 904px) {
  .navbar .navbar-form {
/*    width: 100%;*/
    padding-right: 10px;
  }
  .dropdown {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 905px) and (max-width: 1045px) {
  .navbar .navbar-form {
    width: 100%;
    right: 0px;
  }
}

@media only screen and (min-width: 1200px) {

}

form.navbar-form.navbar-left {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}





