@CHARSET "UTF-8";
@font-face{
    font-family: OpenSans-Semibold;
    src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face{
    font-family: helveticaneue;
    src: url('../fonts/HelveticaNeue.otf');
}
@font-face{
    font-family: OpenSans-Bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face{
    font-family: OpenSans-ExtraBold;
    src: url('../fonts/OpenSans-ExtraBold.ttf');
}
@font-face{
    font-family: RobotoCondensed-Bold;
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}
@font-face{
    font-family: RobotoCondensed-Regular;
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}
@font-face{
    font-family: RobotoCondensed-Light;
    src: url('../fonts/RobotoCondensed-Light.ttf');
}
@font-face{
    font-family: UVNVan;
    src: url('../fonts/UVNVan.TTF');
}
@font-face{
    font-family: OpenSans-BoldItalic;
    src: url('../fonts/OpenSans-BoldItalic.ttf');
}
@font-face{
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face{
    font-family: MyriadPro-Regular;
    src: url('../fonts/MyriadPro-Regular.ttf');
}



::-webkit-scrollbar
{
    width: 10px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: #ecf8ef;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
    background: #31B051;
    border-radius: 10px;
}
#key_word{
    font-family: OpenSans-Regular !important;
}